body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#header {
    background: #fff;
    position: absolute;
    z-index: 1;
    top: 15px;
    left: 10px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    font-family: 'Open Sans', sans-serif;
    font-size: 9px;
    opacity: 0.9;
    padding: 0 10px;
}

#main {
    background: #fff;
    position: absolute;
    z-index: 1;
    bottom: 15px;
    right: 10px;
    border-radius: 3px;
    width: 280px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    font-family: 'Open Sans', sans-serif;
    font-size: 9px;
    opacity: 0.9;
    padding: 0 10px;
}

#main h1 {
	font-size: 12px;
}

#gradient {
  display: block;
  border: 0.6px solid rgb(20, 2, 2);
  padding: 2px;
  background: rgb(241, 236, 236);
  border-radius: 0.2px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 9px;
  z-index: 1;
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: 440px;
  margin-left: -220px;
}

#gradient span { 
  width: 40px; 
  display: inline-block; 
  margin: 0;
  padding: 0;
}

#gradient0     { background-color: rgba(255,255,255,0.5); }
#gradient10    { background-color: rgba(255,245,235,0.5); }
#gradient50    { background-color: rgba(254,230,206,0.5); }
#gradient100   { background-color: rgba(253,208,162,0.5); }
#gradient500   { background-color: rgba(253,174,107,0.5); }
#gradient1000  { background-color: rgba(253,141,60,0.5); }
#gradient5000  { background-color: rgba(241,105,19,0.5); }
#gradient10000 { background-color: rgba(217,72,1,0.5); }
#gradient50000 { background-color: rgba(140, 45, 04,0.5); }

/*
.swatches {
  background: linear-gradient(to right, rgb(214, 231, 138), #cea729, #f00);
  height: 16px;
  margin: 0 10px;
  content: 'legend;'
}*/

.labels {
  position: relative;
}

.label {
  max-width: 32%;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
}

.label.min,
.label.max {
  position: absolute;
  top: 0;
  min-width: 20px;
}

.label.min {
  left: 0;
}

.label.median {
  margin: 0 auto;
}

.label.max {
  right: 0;
}

.label::after {
  display: block;
}

.label.min::after {
  margin-left: 12px;
}

.label.max::after {
  text-align: right;
}


.geocoder {
  position: absolute;
  z-index: 1;
  width: 40%;
  left: 10px;
  top: 110px;
}

.mapboxgl-ctrl-geocoder {
  min-width: 100%;
}

.dot {
	height: 10px;
	width: 10px;
	display: inline-block;
	background-color: red;
	border-radius: 50%;
	margin-left: 5px;
	margin-right: 5px;
}

.checkmark {
  visibility: hidden;
}

.active .checkmark {
  visibility: visible;
}

#menu #youth				.dot { background-color:#ffcccc; }
#menu #women				.dot { background-color:#ff3377; }
#menu #volunteer			.dot { background-color:#9933ff; }
#menu #seniors				.dot { background-color:#3333ff; }
#menu #other				.dot { background-color:#3399ff; }
#menu #lgbtq2				.dot { background-color:#33ccff; }
#menu #lang-training		.dot { background-color:#00b386; }
#menu #lang-asses			.dot { background-color:#33ff55; }
#menu #job-search			.dot { background-color:#aaff33; }
#menu #job-lang-training	.dot { background-color:#ffff00; }
#menu #help-gar				.dot { background-color:#f0b375; }
#menu #franco				.dot { background-color:#ff7733; }
#menu #service-general		.dot { background-color:#ff33ff; }

#menu {
    background-color: #fff;
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 10px;
    border-radius: 3px;
    width: 280px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    font-family: 'Open Sans', sans-serif;
    opacity: 0.9;
}

#menu a {
    font-size: 13px;
    color: #404040;
    display: block;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    text-align: left;
}

#menu a:last-child {
    border: none;
}

#menu a:hover {
  background-color: #addcee;
  color: #404040;
}

#menu a.active {
  background-color: rgb(78, 195, 231);
  color: #333;
}

#menu a.active:hover {
  background-color: rgb(78, 195, 231);
}
